{% extends "base.html" %}

{% block title %}Cadastro de Procedimento{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mb-4">
    <h3>Cadastro de Procedimento</h3>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" novalidate>
            {% csrf_token %}

            <!-- Campos individuais -->
            {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <!-- Botões -->
            <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
            <a href="{% url 'patients:patient_list' %}" class="btn btn-sm btn-secondary ms-1">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
